@tailwind base;
@tailwind components;
@tailwind utilities;




#main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999; /* Adjust this value as needed */
  transition: background-color 0.3s ease; /* Add smooth transition effect */
}

#main-header.bg-scroll {
  @apply
  bg-gradient-to-r from-lime-600 to-lime-500
  shadow-md
  /* background-color: rgba(0, 0, 0, 0.8); Change the background color as desired */
}


  .swiper-slide {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .pattern {
    background-image: url('../../public/images/main-bg.png');
    background-repeat: no-repeat;
    object-position: 50% 50%;
    background-position-x: right;
}
